/* Global styles or styles/Contact.css */

.contact {
    padding: 2rem 0;
    text-align: center;
    padding-top: 110px;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1rem;
    color: gainsboro;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button {
    padding: 0.8rem 2rem;
    border: none;
    background-color: #444;
    color: gainsboro;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact h2 {
      font-size: 1.5rem;
    }
  
    form {
      width: 100%;
      padding: 0 1rem;
    }

    .contact {
      padding-top: 80px;
    }
  }
  